<%= require('./html-includes/header.html')() %>

<section class="not-found">
  <div class="not-found-title">
    <div class="relative z-[3]">4</div>
    <div class="not-found-image relative z-[2]">
      <img src="img/not-found.png" alt="">
    </div>
    <div class="relative z-[1]">4</div>
  </div>

  <div class="mt-6 text-center max-sm:text-sm">
    Возможно, запрашиваемая Вами <br class="sm:hidden"> страница была перенесена или удалена. <br>
    Либо Вы допустили небольшую опечатку <br class="sm:hidden"> при вводе адреса.
  </div>
  <div class="flex mt-6 sm:mt-8">
    <a href="javascript:;" class="btn btn-primary btn-fill mx-auto">
      <span class="font-alt font-semibold">Вернуться на главую</span>
    </a>
  </div>
</section>


<%= require('./html-includes/footer.html')() %>