<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/breadcrumps.html')() %>

<section class="pb-16">
  <div class="title mb-6 sm:mb-10">Энергетическое строительство</div>

  <div class="flex flex-col gap-4">
    <% for(let i = 0; i < 7; i++) { %>
    <div class="subcat-item">
      <div class="subcat-item-image ratio ratio-[296/218]">
        <img src="/img/test.gif" alt="" class="absolute-fit object-cover">
      </div>
      <div class="subcat-item-content">
        <div class="font-alt font-semibold mb-3 text-2xl sm:text-3.5xl">Анкерные плиты</div>
        <div class="text-sm opacity-80">
          Железобетонные анкерные плиты, применяются в для закрепления в грунте металлических и железобетонных опор на оттяжках. Плиты анкерные разработаны шести типоразмеров и изготавливаются в трех типоформах. Плиты представляют собой прямоугольную конструкцию с одним центральным ребром.
        </div>
        <a href="javascript:;" class="btn btn-primary btn-fill mt-6">
          <span class="font-alt font-semibold">Смотреть продукцию</span>
        </a>
      </div>
    </div>
    <% } %>
  </div>
</section>

<%= require('./html-includes/consultation.html')() %>
<%= require('./html-includes/footer.html')() %>