<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/breadcrumps.html')() %>


<section class="pb-16">
  <div class="title mb-6 sm:mb-10">Контакты</div>
  <div class="grid lg:grid-cols-3 gap-7">
    <div class="contacts contacts-1">
      <div class="contacts-1-content">
        <div class="flex flex-wrap justify-between items-center gap-2">
          <div class="flex items-center gap-2">
            <c-icon class="icon text-2xl text-primary" href="img/icons.svg#map-point"></c-icon>
            <div class="text-1.5xl font-alt font-bold">г. Благовещенск</div>
          </div>

          <button class="btn btn-text btn-primary ">
            <div class="font-alt underline decoration-dashed decoration-from-font underline-offset-2">Сменить регион</div>
          </button>
        </div>
        <div class="mt-4">
          <div class="flex items-center gap-1.5 mb-1">
            <c-icon class="icon opacity-30" href="img/icons.svg#clock"></c-icon>
            <div class="text-sm font-alt font-semibold opacity-60">Время работы</div>
          </div>
          <span class="font-semibold">Пн-Пт</span> <span class="opacity-80"> - с 9 до 18</span> <br>
          <span class="font-semibold">Сб-Вс</span> <span class="opacity-80"> - выходные</span>
        </div>
        <div class="mt-4">
          <div class="flex items-center gap-1.5 mb-1">
            <c-icon class="icon opacity-30" href="img/icons.svg#map-point"></c-icon>
            <div class="text-sm font-alt font-semibold opacity-60">Адрес:</div>
          </div>
          ул. Северная 326, офис 702
        </div>
        <div class="mt-4">
          <div class="flex items-center gap-1.5 mb-1">
            <c-icon class="icon opacity-30" href="img/icons.svg#phone"></c-icon>
            <div class="text-sm font-alt font-semibold opacity-60">Телефон / факс</div>
          </div>
          <div class="flex">
            <a href="javascript:;" class="btn btn-text hover-underline relative">
              <div class="absolute -inset-5"></div>
              <span class="text-1.5xl font-alt font-semibold">+7 (861) 279-36-00</span>
            </a>
          </div>
        </div>
        <div class="mt-4">
          <div class="flex items-center gap-1.5 mb-1">
            <c-icon class="icon opacity-30" href="img/icons.svg#email"></c-icon>
            <div class="text-sm font-alt font-semibold opacity-60">E-mail</div>
          </div>
          <div class="flex">
            <a href="javascript:;" class="btn btn-text hover-underline relative">
              <div class="absolute -inset-5"></div>
              <span class="">south@block-gbi.ru</span>
            </a>
          </div>
        </div>
        <div class="mt-4">
          <div class="flex items-center gap-1.5 mb-1">
            <c-icon class="icon opacity-30" href="img/icons.svg#email"></c-icon>
            <div class="text-sm font-alt font-semibold opacity-60">Служба качества:</div>
          </div>
          <div class="flex">
            <a href="javascript:;" class="btn btn-text hover-underline relative">
              <div class="absolute -inset-5"></div>
              <span class="">south@block-gbi.ru</span>
            </a>
          </div>
        </div>
      </div>

      <div class="contacts-1-bottom">
        <div class="font-semibold">
          Все письма обрабатываются <br>
          лично руководством
        </div>
      </div>
    </div>
    <div class="contacts contacts-2">
      <div class="text-sm font-semibold opacity-60">
        Общество с ограниченной ответственностью
      </div>
      <div class="font-alt font-semibold">
        «Строительная корпорация «Блок»
      </div>
      <div class="text-sm font-semibold opacity-60 mt-4">
        ООО «СК «Блок»
      </div>
      <div class="mt-4">
        <div class="flex items-center gap-1.5 mb-1">
          <c-icon class="icon opacity-30" href="img/icons.svg#map-point"></c-icon>
          <div class="text-sm font-alt font-semibold opacity-60">Юридический адрес:</div>
        </div>
        117587, г. Москва, вн.тер.г.
        муниципальный округ Чертаново
        северное, ш. Варшавское, д. 118 к.1,
        помещ. 1/5
      </div>
      <div class="mt-4 flex gap-4">
        <div>
          <span class="font-semibold">ИНН</span> 7842359185 <br>
          <span class="font-semibold">КПП</span> 772601001
        </div>
        <div>
          <span class="font-semibold">ОГРН</span> 1077847409485 <br>
          <span class="font-semibold">ОКПО</span> 80548120
        </div>
      </div>
      <div class="mt-4">
        <div class="flex items-center gap-1.5 mb-1">
          <c-icon class="icon opacity-30" href="img/icons.svg#phone"></c-icon>
          <div class="text-sm font-alt font-semibold opacity-60">Телефон / факс</div>
        </div>
        <div class="flex">
          <a href="javascript:;" class="btn btn-text hover-underline relative">
            <div class="absolute -inset-5"></div>
            <span class="text-1.5xl font-alt font-semibold">(495) 145-24-55</span>
          </a>
        </div>
      </div>
      <div class="mt-4">
        <div class="flex items-center gap-1.5 mb-1">
          <c-icon class="icon opacity-30" href="img/icons.svg#email"></c-icon>
          <div class="text-sm font-alt font-semibold opacity-60">E-mail</div>
        </div>
        <div class="flex">
          <a href="javascript:;" class="btn btn-text hover-underline relative">
            <div class="absolute -inset-5"></div>
            <span class="">moscow@block-gbi.ru</span>
          </a>
        </div>
      </div>
    </div>
    <div class="contacts contacts-3">
      <div class="">
        Компания “БЛОК” – это надежный
        партнер в области производства
        и поставки железобетонных изделий.
        <br><br>
        Мы предлагаем широкий ассортимент
        продукции высокого качества, которая
        соответствует заявленным требованиям
        строительных норм и стандартов.
      </div>
      <div class="my-8 border-t border-white/20"></div>

      <div class="text-sm font-semibold mb-2">Группа компаний БЛОК предлагает к поставке</div>
      <div class="font-alt font-semibold text-3.5xl sm:text-4.5xl mb-2">более 9 000</div>
      <div class="text-sm font-semibold">
        наименований типовых железобетонных
        изделий, а также изготовление ЖБИ
        по чертежам Заказчика.
      </div>
    </div>
  </div>
</section>

<section class="client-terms">
  <div class="title mb-6 sm:mb-10">Лучшие условия для клиентов</div>
  <div class="client-terms-block max-sm:text-sm">
    Индивидуальный подход к сотрудничеству с каждым Заказчиком <b>позволяет находить оптимальное решение по поставкам ЖБИ</b>, с наилучшими
    сочетаниями таких критериев как цена, срок поставки, качество продукции. ГК БЛОК обладает значительными финансовыми возможностями,
    предоставляя отсрочку платежей и различные товарные кредиты, что также является весомым конкурентным преимуществом.
    <br><br>
    Сегодня мы помогаем решать нашим партнерам <b>полный комплекс вопросов по обеспечению строительных объектов</b> сборными
    железобетонными изделиями. Наши специалисты и инженерный персонал обеспечивают оперативное решение задач любой сложности,
    начиная от создания и согласования проекта до монтажа продукции на площадке.
  </div>
</section>

<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A2e5040778f1101d4afacf107320478c422ca01f0d00c537ed96eff00a6fd0ffc&amp;source=constructor" width="100%" height="480" frameborder="0"></iframe>

<%= require('./html-includes/footer.html')() %>