<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/breadcrumps.html')() %>


<!-- Работаем с 2006  -->
<section class="pb-16">
  <div class="title mb-6 sm:mb-10">Доставка в ЛНР/ДНР </div>
  <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-2 md:gap-7">
    <div class="working-item">
      <div class="working-item-image">
        <c-icon class="icon" href="img/icons.svg#cert"></c-icon>
      </div>
      <div class="working-item-content">
        <div class="font-alt font-semibold sm:text-1.5xl">
          17 лет на строительном рынке
        </div>
        <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
          Компания более 17 лет
          успешно работаем
          на строительном рынке
        </div>
      </div>
    </div>
    <div class="working-item">
      <div class="working-item-image">
        <c-icon class="icon" href="img/icons.svg#settings"></c-icon>
      </div>
      <div class="working-item-content">
        <div class="font-alt font-semibold sm:text-1.5xl">
          Собственные производства
        </div>
        <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
          Производственные
          комплексы с Ж/Д путями
          в собственности
        </div>
      </div>
    </div>
    <div class="working-item">
      <div class="working-item-image">
        <c-icon class="icon" href="img/icons.svg#map-routing"></c-icon>
      </div>
      <div class="working-item-content">
        <div class="font-alt font-semibold sm:text-1.5xl">
          Доставка
          в ЛНР/ДНР
        </div>
        <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
          Осуществим в любой город
          Донецкой и Луганского народных
          республик
        </div>
      </div>
    </div>
    <div class="working-item">
      <div class="working-item-image">
        <c-icon class="icon" href="img/icons.svg#star"></c-icon>
      </div>
      <div class="working-item-content">
        <div class="font-alt font-semibold sm:text-1.5xl">
          Ваш надёжный
          партнёр
        </div>
        <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
          Репутация надежного
          поставщика подтвержденная
          нашими партнерами
        </div>
      </div>
    </div>
  </div>

  <div class="history-jigurda mt-8">
    <div class="history-jigurda-image">
      <img src="/img/logo.svg" alt="" class="w-32">
    </div>
    <div class="history-jigurda-content sm:py-5">
      <div class="font-alt sm:text-xl font-semibold">
        Мы предлагаем услуги по доставке железобетонных изделий (ЖБИ) в ЛНР и ДНР
      </div>
      <div class="font-alt max-sm:text-sm mt-3">
        Мы подберём оптимальный вариант доставки, учитывая объём продукции, габариты груза, адрес заказчика
        и желаемые сроки получения товара. Наши опытные экспедиторы гарантируют своевременную доставку
        заказанных железобетонных изделий прямо к порогу клиента, обеспечивая надлежащее хранение,
        сохранность и безопасность груза на протяжении всего пути.
      </div>
      <button class="btn btn-primary btn-whitebg mt-6">
        <span class="font-alt font-semibold">Оставить заявку</span>
      </button>
    </div>
  </div>

</section>

<section>
  <div class="title mb-5 sm:mb-8">Как проходит сотрудничество</div>

  <div class="grid lg:grid-cols-3 gap-7">
    <div class="rounded-2.5xl border border-default/10 p-6 sm:p-10 sm:pt-4 relative">
      <div class="absolute left-full top-14 w-7 border-t border-default/10 max-lg:hidden"></div>
      <div class="absolute left-1/2 top-full h-7 border-r border-default/10 lg:hidden"></div>
      <div class="flex items-center mb-4 sm:mb-6">
        <div class="font-alt font-bold text-[56px]">1</div>
        <div class="font-alt text-1.5xl ml-4 opacity-60">шаг</div>
        <c-icon class="icon text-3.5xl text-primary ml-auto" href="img/icons.svg#circle-arrow-right"></c-icon>
      </div>
      <div class="font-alt font-bold text-2.5xl">
        Оставьте заявку
      </div>
      <div class="mt-3 text-sm opacity-60">
        удобным для вас способом- <br>
        через сайт, по телефону <br>
        или электронной почте
      </div>
    </div>
    <div class="rounded-2.5xl border border-default/10 p-6 sm:p-10 sm:pt-4 relative">
      <div class="absolute left-full top-14 w-7 border-t border-default/10 max-lg:hidden"></div>
      <div class="absolute left-1/2 top-full h-7 border-r border-default/10 lg:hidden"></div>
      <div class="flex items-center mb-4 sm:mb-6">
        <div class="font-alt font-bold text-[56px]">2</div>
        <div class="font-alt text-1.5xl ml-4 opacity-60">шаг</div>
        <c-icon class="icon text-3.5xl text-primary ml-auto" href="img/icons.svg#circle-arrow-right"></c-icon>
      </div>
      <div class="font-alt font-bold text-2.5xl">
        Мы свяжемся с вами
      </div>
      <div class="mt-3 text-sm opacity-60">
        для уточнения наименований, <br>
        серий, количества и адреса <br>
        доставки изделий
      </div>
    </div>
    <div class="rounded-2.5xl border border-default/10 p-6 sm:p-10 sm:pt-4 relative">
      <div class="flex items-center mb-4 sm:mb-6">
        <div class="font-alt font-bold text-[56px]">3</div>
        <div class="font-alt text-1.5xl ml-4 opacity-60">шаг</div>
        <c-icon class="icon text-3.5xl text-green ml-auto" href="img/icons.svg#circle-check"></c-icon>
      </div>
      <div class="font-alt font-bold text-2.5xl">
        Подготовка просчета
      </div>
      <div class="mt-3 text-sm opacity-60">
        мы сделаем комплексный просчёт, <br>
        включающий стоимость изделий <br>
        с учётом объема и доставку до объекта
      </div>
    </div>
  </div>
</section>


<!-- Нашу продукцию используют  -->
<section class="category">
  <div class="title mb-6 sm:mb-10">Мы поставляем железобетон для: </div>

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-2 sm:gap-7">
    <% for(let i = 0; i < 9; i++) { %>
    <%= require('./html-includes/category-item.html')() %>
    <% } %>
  </div>
</section>

<%= require('./html-includes/consultation.html')() %>
<%= require('./html-includes/footer.html')() %>