<%= require('./html-includes/header.html')() %>

<section class="p-0">
  <div class="started-slider swiper relative">
    <div class="swiper-wrapper">
      <% for(let i = 0; i < 5; i++) { %>
      <div class="swiper-slide">
        <div class="section started">
          <div class="absolute-fit started-image">
            <img src="/img/test.gif" alt="" class="absolute-fit object-cover">
            <!-- <video src="/img/test.webm" autoplay muted loop class="absolute-fit object-cover"></video> -->
          </div>
          <div class="absolute-fit started-shadow"></div>
          <img src="/img/started-texture.png" alt="" class="absolute-fit object-cover">
          <div class="started-content">
            <div class="started-date">Основано в 201<%= i %> году</div>
            <div class="started-title">
              гк блок - Компания <br>
              с 17-летней историей
            </div>
            <div class="started-description">
              ЖБИ - композиционный высокопрочный материал, состоящий <br>
              из бетона и стали, который широко применяется в строительстве
            </div>
            <button class="started-btn  btn btn-primary btn-whitebg">
              <span class="font-alt font-semibold text-black">Подробнее</span>
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="section started">
          <div class="absolute-fit started-image">
            <img src="/img/test.jpg" alt="" class="absolute-fit object-cover">
            <!-- <video src="/img/test.webm" autoplay muted loop class="absolute-fit object-cover"></video> -->
          </div>
          <div class="absolute-fit started-shadow"></div>
          <img src="/img/started-texture.png" alt="" class="absolute-fit object-cover">
          <div class="started-content">
            <div class="started-date">Основано в 201<%= i %> году</div>
            <div class="started-title">
              гк блок - Компания <br>
              с 17-летней историей
            </div>
            <div class="started-description">
              ЖБИ - композиционный высокопрочный материал, состоящий <br>
              из бетона и стали, который широко применяется в строительстве
            </div>
            <button class="started-btn  btn btn-primary btn-whitebg">
              <span class="font-alt font-semibold text-black">Подробнее</span>
            </button>
          </div>
        </div>
      </div>
      <% } %>
    </div>

    <div class="started-pagination-wrapper section">
      <div class="relative overflow-hidden pl-18">
        <div class="started-pagination"></div>
      </div>
    </div>
  </div>
</section>
<script>
  new Swiper('.started-slider', {
    slidesPerView: 1,
    spaceBetween: 20,
    pagination: {
      el: '.started-pagination',
      dynamicBullets: true,
      clickable: true
    }
    // effect: 'fade'
  })
</script>

<!-- Работаем с 2006  -->
<section class="working">
  <div class="title mb-6 sm:mb-10">Работаем с 2006 </div>
  <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-2 md:gap-7">
    <div class="working-item">
      <div class="working-item-image">
        <c-icon class="icon" href="img/icons.svg#cert"></c-icon>
      </div>
      <div class="working-item-content">
        <div class="font-alt font-semibold sm:text-1.5xl">
          Большой
          практический опыт
        </div>
        <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
          Компания более 17 лет
          успешно работаем
          на строительном рынке
        </div>
      </div>
    </div>
    <div class="working-item">
      <div class="working-item-image">
        <c-icon class="icon" href="img/icons.svg#map-routing"></c-icon>
      </div>
      <div class="working-item-content">
        <div class="font-alt font-semibold sm:text-1.5xl">
          Развитая филиальная сеть
        </div>
        <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
          Поставки ЖБИ по всей России
          (включая ДНР и ЛНР)
          в самые короткие сроки
        </div>
      </div>
    </div>
    <div class="working-item">
      <div class="working-item-image">
        <c-icon class="icon" href="img/icons.svg#star"></c-icon>
      </div>
      <div class="working-item-content">
        <div class="font-alt font-semibold sm:text-1.5xl">
          Положительные
          отзывы
        </div>
        <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
          Репутация надежного
          поставщика подтвержденная
          нашими партнерами
        </div>
      </div>
    </div>
    <div class="working-item">
      <div class="working-item-image">
        <c-icon class="icon" href="img/icons.svg#settings"></c-icon>
      </div>
      <div class="working-item-content">
        <div class="font-alt font-semibold sm:text-1.5xl">
          Собственные производства
        </div>
        <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
          Производственные
          комплексы с Ж/Д путями
          в собственности
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Нашу продукцию используют  -->
<section class="category">
  <div class="title mb-6 sm:mb-10">Нашу продукцию используют </div>

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-2 sm:gap-7">
    <% for(let i = 0; i < 9; i++) { %>
    <%= require('./html-includes/category-item.html')() %>
    <% } %>
  </div>
</section>

<%= require('./html-includes/location.html')() %>

<!-- О компании -->
<section class="about">
  <div class="about-image ratio ratio-[42/43]">
    <img src="/img/about-image.jpg" alt="" class="absolute-fit">
  </div>

  <div class="about-content">
    <div class="title mb-6">О компании</div>
    <div class=" opacity-70 text-sm">
      Группа компаний «БЛОК» — одна из крупнейших инжиниринговых компаний, занимающихся изготовлением и поставкой железобетонных изделий (ЖБИ) для строительства по всей территории России.
      <br><br>
      Благодаря наличию собственных производственных и складских баз железобетонных изделий, а также развитой инфраструктуре по всей России, наша компания готова предложить Вам широкий ассортимент жби по привлекательным ценам с поставкой в кратчайшие сроки.
    </div>
    <div class="flex mt-6 sm:mt-14">
      <a href="javascript:;" class="btn btn-primary btn-fill">Подробнее о компании</a>
    </div>
  </div>

  <div class="about-aside divide-y divide-default/5">
    <div class="flex items-center gap-4 py-4">
      <div class="size-10 flex about-aside-image">
        <c-icon class="icon m-auto text-2xl text-primary" href="img/icons.svg#wallet"></c-icon>
      </div>
      <div class="font-alt font-medium">
        Привлекательные цены
        на весь ассортимент
      </div>
    </div>
    <div class="flex items-center gap-4 py-4">
      <div class="size-10 flex about-aside-image">
        <c-icon class="icon m-auto text-2xl text-primary" href="img/icons.svg#timer"></c-icon>
      </div>
      <div class="font-alt font-medium">
        Поставка
        в кратчайшие сроки
      </div>
    </div>
    <div class="flex items-center gap-4 py-4">
      <div class="size-10 flex about-aside-image">
        <c-icon class="icon m-auto text-2xl text-primary" href="img/icons.svg#settings-alt"></c-icon>
      </div>
      <div class="font-alt font-medium">
        Полный комплекс
        по монтажу жби
      </div>
    </div>
    <div class="flex items-center gap-4 py-4">
      <div class="size-10 flex about-aside-image">
        <c-icon class="icon m-auto text-2xl text-primary" href="img/icons.svg#grid"></c-icon>
      </div>
      <div class="font-alt font-medium">
        Более тысячи
        наименований жби
      </div>
    </div>
    <div class="flex items-center gap-4 py-4">
      <div class="size-10 flex about-aside-image">
        <c-icon class="icon m-auto text-2xl text-primary" href="img/icons.svg#stak"></c-icon>
      </div>
      <div class="font-alt font-medium">
        Изготовление ЖБИ
        по чертежам заказчика
      </div>
    </div>
  </div>
</section>

<script>
  Fancybox.modal.open('dialog-region.html')
</script>

<%= require('./html-includes/consultation.html')() %>
<%= require('./html-includes/footer.html')() %>