<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/breadcrumps.html')() %>

<section class="pb-16">
  <div class="title mb-6 sm:mb-10">ПУУМ КТК-Р НПС Комсомольская</div>
  <div class="bg-grey rounded-2.5xl px-4 sm:px-10 py-8">
    <div class="grid sm:grid-cols-2 gap-6">
      <div class="flex items-center gap-5">
        <div class="self-stretch my-1 w-0.5 bg-primary rounded"></div>
        <div>
          <div class="text-1.5xl font-alt font-bold">Направление:</div>
          <div class="max-sm:text-sm">Промышленное строительство</div>
        </div>
      </div>
      <div class="flex items-center gap-5">
        <div class="self-stretch my-1 w-0.5 bg-primary rounded"></div>
        <div>
          <div class="text-1.5xl font-alt font-bold">Конечный заказчик:</div>
          <div class="max-sm:text-sm">АО "Каспийский трубопроводный консорциум-Р" (КТК-Р)</div>
        </div>
      </div>
      <div class="flex items-center gap-5">
        <div class="self-stretch my-1 w-0.5 bg-primary rounded"></div>
        <div>
          <div class="text-1.5xl font-alt font-bold">Регион:</div>
          <div class="max-sm:text-sm">республика Калмыкия, Целинский район, с. Троицкое</div>
        </div>
      </div>
      <div class="flex items-center gap-5">
        <div class="self-stretch my-1 w-0.5 bg-primary rounded"></div>
        <div>
          <div class="text-1.5xl font-alt font-bold">Ссылка на сайт</div>
          <div class="max-sm:text-sm">
            <a href="javascript:;" target="_blank" class="text-primary hover-underline">https://cpc-online.ru/regions/44/162/</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sm:columns-2 gap-6 mt-8 max-sm:text-sm">
    Нефтеперекачивающая станция «Комсомольская» находится на территории Черноземельского района Республики Калмыкия. Введена в эксплуатацию в 2003 году, реконструирована в рамках Проекта расширения в 2014 году, в настоящее время модернизируется в рамках ПУУМ.
    <br><br>
    НПС «Комсомольская» осуществляет транспортировку нефти по основному маршруту «Тенгиз – Новороссийск», а также прием в трубопроводную систему КТК нефти с российских шельфовых месторождений на Каспии.
    <br><br>
    Промежуточная перекачивающая станция общей площадью свыше 45 Га имеет в своем составе резервуарный парк (три РВСПК объемом 4800 м3 каждый), лабораторный комплекс, магистральную и подпорную насосные (агрегаты с электрическими и газотурбинными приводами), узел приема нефти от поставщика, площадку магистральных фильтров, систему сглаживания волн давления и другие объекты.
    <br><br>
    КТК — крупнейший международный нефтетранспортный проект с участием России, Казахстана, а также ведущих мировых добывающих компаний, созданный для строительства и эксплуатации магистрального трубопровода протяженностью более 1,5 тыс. км.
    <br><br>
    ООО «БЛОК-ЮГ» для модернизации и расширения НПС «Комсомольская» поставляет ЖБ изделия для
    <a href="javascript:;" target="_blank" class="text-primary hover-underline font-semibold">промышленного строительства.</a>
  </div>
</section>

<%= require('./html-includes/consultation.html')() %>
<%= require('./html-includes/footer.html')() %>