<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/breadcrumps.html')() %>

<section class="pb-16">
  <div class="title mb-6 sm:mb-10">Концевая опора 2К10-1</div>
  <div class="product">
    <div class="product-gallery">
      <div class="product-slider swiper -mx-2">
        <div class="swiper-wrapper">
          <% for(let i = 0; i < 6; i++) { %>
          <div class="swiper-slide px-2">
            <a href="/img/test.gif" data-fancybox="product-id" class="ratio ratio-[496/360] block rounded-2.5xl overflow-hidden">
              <img src="/img/test.gif" alt="" class="absolute-fit object-cover">
            </a>
          </div>
          <% } %>
        </div>
      </div>
      <div class="product-thumbs swiper -mx-1 sm:-mx-1.5 mt-2 sm:mt-4">
        <div class="swiper-wrapper">
          <% for(let i = 0; i < 6; i++) { %>
          <div class="swiper-slide w-1/4 px-1 sm:px-1.5">
            <div class="ratio ratio-[496/360] rounded-lg overflow-hidden">
              <img src="/img/test.gif" alt="" class="absolute-fit object-cover">
            </div>
          </div>
          <% } %>
        </div>
      </div>

    </div>
    <div class="product-characteristic">
      <div class="divide-y divide-default/10 divide-dashed">
        <% for(let i = 0; i < 11; i++) { %>
        <div class="flex items-center py-1.5 justify-between truncate">
          <div class="text-sm opacity-60">ГОСТ/Серия</div>
          <div class="font-medium">Серия 3.407.1-143 вып.6</div>
        </div>
        <% } %>
      </div>
      <button class="btn btn-primary px-4 -mx-4 mt-4">
        <div class="font-alt font-semibold">Полные характеристики</div>
      </button>
    </div>
    <div class="product-content">
      <div class="product-card p-2">
        <div class="pt-2 sm:pt-6 px-4">
          <div class="text-sm opacity-60">Цена</div>
          <div class="font-alt font-bold text-3.5xl">51 300 ₽</div>

          <div class="flex flex-col gap-3 mt-5">
            <button class="btn btn-primary btn-fill">
              <span class="font-alt font-semibold">Оставить заявку</span>
            </button>
            <button class="btn btn-primary btn-contur">
              <span class="font-alt font-semibold">Заказать звонок</span>
            </button>
          </div>
        </div>
        <div class="mt-5 bg-grey rounded-2xl p-4 text-xs">
          <b>
            Цена за изделие указана
            приблизительно и не является
            публичной офертой.
          </b>
          <br><br>
          Актуальную цену вы можете узнать,
          заполнив заявку.
        </div>
      </div>
      <a href="javascript:;" class="mt-4 rounded-2.5xl p-6 h-auto btn btn-primary btn-light">
        <div class="w-full">
          <div class="text-xs font-semibold text-default">Документация к изделию</div>
          <div class="mt-2 flex items-center gap-2 text-primary">
            <c-icon class="icon" href="img/icons.svg#doc"></c-icon>
            <div class="font-alt font-semibold">Серия 3.407.1-143 вып.6</div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="product-description mt-20">
    <div class="text-2xl font-alt font-bold mb-8">
      Описание
    </div>
    <div class="max-sm:text-sm">
      Опоры ЛЭП являются важнейшими элементами электроэнергетики, двухцепные концевые опоры 2К10-1 для ВЛ 10кВ предназначены для устройства и бесперебойной работы воздушных линий электропередач. Это конструкции, с помощью которых осуществляется удержание проводов воздушных линий электропередач на заданном расстоянии от земли и друг от друга. Помимо основной, несущей, функции железобетонные опоры обеспечивают освещение пространства на улицах, площадках, магистралях в темное время суток.
      <br><br>
      Опоры ЛЭП, произведенные из железобетона, имеют весомые преимущества по сравнению с другими строительными материалами (существуют также деревянные и металлические опоры). Железобетон не подвержен разрушению под агрессивным воздействием окружающей среды и не наносит вреда экологии, железобетонные изделия подходят для установки даже вблизи чистых источников грунтовых вод. Высокая прочность и сопротивляемость окружающей среде (климатические условия, осадки и находящиеся в воздухе химические вещества) позволяют подвергать двухцепные концевые опоры 2К10-1 для ВЛ 10кВ длительной эксплуатации (50-70 лет), при этом коснтрукции опор не требуют постоянного техосмотра. Конструкция и материалы опор позволяют эксплуатировать их в среде с агрессивной степенью воздействия в климатических зонах, где температура окружающей среды опускается до -55°С, сейсмичность достигает 9 баллов, а ветровая и гололедная нагрузка соответствует VII и V району по СНиП2.01.07-85.
      <br><br>
      В настоящее время энергетическое строительство активно использует жби опоры ЛЭП по всей России, так как они наиболее устойчивы к экстремально низким атмосферным температурам и агрессивным воздействиям окружающей среды. В отличие от деревянной опоры освещения изделия из железобетона не гниют во влажном климате и могут устанавливаться как в городе, так и вдоль автомобильных трасс, железнодорожных путей, в горных или заболоченных местностях и лесных массивах. По сравнению с металлическими изделиями двухцепные концевые опоры 2К10-1 для ВЛ 10кВ не требуют регулярного технического осмотра, их не нужно периодически окрашивать или оцинковывать для предотвращения коррозии или окисления – бетон предварительно, во время формовки, обрабатывается антикоррозийными и водоотталкивающими присадками.
      При производстве опор ЛЭП мы используем новейшие технологии производства для обеспечения высокого качества изделий из железобетона и сохранения эксплуатационных качеств изделий на долгие годы. Наши изделия двухцепные концевые опоры 2К10-1 для ВЛ 10кВ соответствуют всем нормам и требованиям ГОСТ.
      Конструктивно опоры ЛЭП представляют собой вытянутую прямолинейную фигуру – стойку. В теле конструкции предусмотрены закладные детали для устройства зажимов, траверс и креплений для закрепления проводов. Нижняя часть опоры, при необходимости, также имеет закладные детали для крепления к фундаменту и другим конструкциям, служащим для увеличения устойчивости и несущей способности опор (плиты, ригели).
      Установка изделий двухцепные концевые опоры 2К10-1 для ВЛ 10кВ начинается с выкладки деталей опоры вдоль трассы, для ее дальнейшей сборки. Собранную на земле, конструкцию опоры ЛЭП с помощью крана поднимают в проектное положение и устанавливают в цилиндрический котлован с заполнением пустот песчано-гравийной смесью. В грунтах с малой несущей способностью прочность крепления достигается путем фиксирования стоек опор ригелями и установкой их на специальные опорные плиты. Для крепления в земле оттяжек на проектном расстоянии от опоры устанавливаются анкерные плиты, или другие фундаментные конструкции в соответствии с проектом.
      <br><br>
      Энергетическое строительство предполагает, что изделия двухцепные концевые опоры 2К10-1 для ВЛ 10кВ изготавливаются только из высокопрочного тяжелого бетона классом по прочности на сжатие от В30. В качестве сырья для данного жби используется портландцемент, который обладает повышенной прочностью, морозостойкостью, коррозийной устойчивостью и низкой водопроницаемостью. Гранитный щебень, который вводится в состав бетона, придает изделиям дополнительную устойчивость и стойкость к низким температурам и повышенной влажности. Каркас из высокопрочной стали компенсирует ломкость бетона и повышает эластичность конструкции. Чтобы опоры были устойчивы к внешним воздействиям, их уплотняют методом вибрирования, благодаря чему удаляются воздушные полости, и бетонная смесь равномерно распространяется по всему поперечному сечению.
      <br><br>
      Бетон стоек опор ЛЭП армируется предварительно напряженной арматурой для придания большей прочности изделиям. Армирование в виде объемных каркасов осуществляется из стержневой стали классов A-III, Aт-I, Ат-V и Aт-VI. Все детали изделий двухцепные концевые опоры 2К10-1 для ВЛ 10кВ армирования и закладные детали предварительно проходят антикоррозийную обработку и покрываются полимерными покрытиями.
      Как и любые несущие конструкции, двухцепные концевые опоры 2К10-1 для ВЛ 10кВ подвергаются строгой проверке по качеству изделий. Опоры ЛЭП не должны иметь трещин, кроме усадочных, ширина которых должна быть не более 0,2 мм. Раковины должны быть не шире 20 мм по ширине, сколы – не более 20 мм по глубине. Предельные отклонения геометрических параметров железобетонных опор должны быть не более ±60-80 мм по длине, сечение – ±6 мм. Отклонения от плоскости стойки должны быть не более 15 мм в любую сторону. Обнажение арматуры категорически не допускается. Толщина защитного слоя бетона до арматуры не должна быть меньше проектной на 3 мм.
      <br><br>
      Изделия двухцепные концевые опоры 2К10-1 для ВЛ 10кВ хранят в горизонтальном положении с единой ориентацией торцов. Между рядами стоек, около подъемных петель должны быть предусмотрены прокладки. При хранении опор ЛЭП в штабелях высота штабеля не должна превышать 2,5 м. Транспортировку жби стоек опор разрешается производить грузовым и железнодорожным транспортом при условии обеспечения надежного закрепления, предохраняющего изделия от повреждений и падений.
      <br><br>
      В компании ГК “БЛОК” можно заказать двухцепные концевые опоры 2К10-1 для ВЛ 10кВ для энергетического строительства, а так же проконсультироваться с нашими специалистами, подобрать требуемые конструкции железобетонных изделий. В нашем отделе продаж можно узнать заранее и уточнить цену опор высоковольтных линий и рассчитать общую стоимость заказа. Купить опоры ВЛ и проконсультироваться по общим вопросам покупки и доставки Вы можете позвонив по телефонам компании ГК БЛОК: Санкт-Петербург: (812) 309-22-09, Москва: (495) 646-38-32, Краснодар: (861) 279-36-00. Режим работы компании: Пн-Пт с 9-00 до 18-00. Компания ГК БЛОК осуществляет доставку опор ЛЭП по всей России прямо до объекта заказчика или на строительную площадку, если позволяет инфраструктура.
    </div>
  </div>
</section>
<script>
  const thumbs = new Swiper('.product-thumbs', {
    slidesPerView: 'auto'
  })

  new Swiper('.product-slider', {
    slidesPerView: 'auto',
    thumbs: {
      swiper: thumbs
    }
  })
</script>

<section class="related overflow-hidden">
  <div class="title mb-6 sm:mb-10">Вместе с этим смотрят</div>

  <div class="related-slider swiper -mx-2 sm:-mx-3 max-lg:overflow-visible">
    <div class="swiper-wrapper">
      <% for(let i = 0; i < 10; i++) { %>
      <div class="swiper-slide w-60 sm:w-1/3 lg:w-1/4 px-2 sm:px-3">
        <div class="related-item h-full">
          <div class="ratio ratio-[270/196]">
            <img src="/img/test.gif" alt="" class="absolute-fit object-cover">
          </div>
          <div class="related-item-content">
            <div class="font-alt font-medium max-sm:text-sm">
              Угловая ответвительная
              анкерная опора УОА10-2
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
<script>
  new Swiper('.related-slider', {
    slidesPerView: 'auto',
  })
</script>

<%= require('./html-includes/location.html')() %>
<%= require('./html-includes/consultation.html')() %>
<%= require('./html-includes/footer.html')() %>