<%= require('./html-includes/header.html')() %>
<%= require('./html-includes/breadcrumps.html')() %>

<section class="pb-16">
  <div class="title mb-6 sm:mb-10">Вакансии</div>

  <div class="vacancy-jigurda">
    <div class="vacancy-jigurda-image px-2">
      <img src="/img/vacancy-jigurda.png" alt="" class=" ">
    </div>
    <div class="vacancy-jigurda-content">
      <div class="sm:text-xl font-alt font-semibold">
        В 2019 году ГК "Блок" вошла в Рейтинг "ТОП-100 работодателей России", как привлекательный
        и открытый работодатель, успешно развивающий HR-процессы и имидж компании.
      </div>
      <div class="flex mt-8">
        <a href="javascript:;" class="btn btn-primary btn-whitebg">
          <span class="font-alt font-semibold text-black">Смотреть вакансии</span>
        </a>
      </div>
    </div>
  </div>

  <div class="mt-6 sm:mt-10 font-alt sm:text-xl">
    Внешняя миссия компаний нашего холдинга – стремление к долгосрочному и перспективному сотрудничеству, построение открытых деловых отношений с клиентами путем своевременного обмена информацией, полное обеспечение наших заказчиков, участников строительного рынка – необходимыми материалами и услугами.
  </div>

  <div class="mt-8 sm:mt-10">
    <div class="text-2xl sm:text-3.5xl font-alt font-semibold mb-6 sm:mb-8">
      Для команды ГК БЛОК важны следующие ценности:
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-2 md:gap-7">
      <div class="working-item">
        <div class="working-item-image">
          <c-icon class="icon" href="img/icons.svg#user-heart"></c-icon>
        </div>
        <div class="working-item-content">
          <div class="font-alt font-semibold sm:text-1.5xl">
            Порядочность
          </div>
          <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
            Компания всегда выполняет
            свои обязательства как
            с внешними контрагентами,
            так и с сотрудниками компании
          </div>
        </div>
      </div>
      <div class="working-item">
        <div class="working-item-image">
          <c-icon class="icon" href="img/icons.svg#chat"></c-icon>
        </div>
        <div class="working-item-content">
          <div class="font-alt font-semibold sm:text-1.5xl">
            Открытость
          </div>
          <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
            Топ-менеджмент, руководители
            отделов и рядовые сотрудники
            вправе задавать друг другу
            любые вопросы и ожидать
            открытых ответов на них
          </div>
        </div>
      </div>
      <div class="working-item">
        <div class="working-item-image">
          <c-icon class="icon" href="img/icons.svg#graph-up"></c-icon>
        </div>
        <div class="working-item-content">
          <div class="font-alt font-semibold sm:text-1.5xl">
            Эффективность
          </div>
          <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
            Компания постоянно развивается,
            ставит для себя амбиционные
            цели и доводит их до каждого
            из сотрудников, спрашивая
            об их достижении
          </div>
        </div>
      </div>
      <div class="working-item">
        <div class="working-item-image">
          <c-icon class="icon" href="img/icons.svg#chart"></c-icon>
        </div>
        <div class="working-item-content">
          <div class="font-alt font-semibold sm:text-1.5xl">
            Инициативность
          </div>
          <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
            Вся история компании связана
            с постоянным поиском путей развития.
            Каждый год в истории компании связан
            со стартом новых бизнес-проектов
          </div>
        </div>
      </div>
      <div class="working-item">
        <div class="working-item-image">
          <c-icon class="icon" href="img/icons.svg#medal-star"></c-icon>
        </div>
        <div class="working-item-content">
          <div class="font-alt font-semibold sm:text-1.5xl">
            Амбициозность
          </div>
          <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
            Компания и ее руководство
            предъявляет высокие требования
            как к себе, так и к сотрудникам
          </div>
        </div>
      </div>
      <div class="working-item">
        <div class="working-item-image">
          <c-icon class="icon" href="img/icons.svg#shield-user"></c-icon>
        </div>
        <div class="working-item-content">
          <div class="font-alt font-semibold sm:text-1.5xl">
            Ответственность
          </div>
          <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
            В нашей компании не принято
            разделять свои и корпоративные
            интересы, все действия
            сотрудников должны быть
            направлены во благо компании
          </div>
        </div>
      </div>
      <div class="working-item">
        <div class="working-item-image">
          <c-icon class="icon" href="img/icons.svg#heart"></c-icon>
        </div>
        <div class="working-item-content">
          <div class="font-alt font-semibold sm:text-1.5xl">
            Любовь работе
          </div>
          <div class="text-xs sm:text-sm mt-1 md:mt-3 opacity-60">
            Только небезразличный подход
            к нашему общему делу приводит
            к растущим результатам
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="mt-8 sm:mt-10">
    <div class="text-2xl sm:text-3.5xl font-alt font-semibold mb-6 sm:mb-8">
      Холдинг федерального масштаба
    </div>
    <div class=" font-alt sm:text-xl">
      Более чем за 15 лет своей работы, Группа Компаний «Блок» прошла путь от небольшой фирмы, торгующей железобетонными изделиями в Санкт-Петербурге до крупного холдинга федерального масштаба, в структуру которого входят заводы по производству ЖБИ в Санкт-Петербурге и Южном округе, сервисные металлоцентры в Санкт-Петербурге, Севастополе, Московской области, сбытовая сеть с филиалами в Санкт-Петербурге, Москве, Краснодаре, Хабаровске, Екатеринбурге, Севастополе, строительная компания по свайным и шпунтовым работам.
      <br><br>
      <b>Более 10 000 клиентов за эти годы выбрали «Группу Компаний Блок» в качестве надежного партнера для своего бизнеса.</b>
      <br><br>
      Рассчитываем, что вышеприведенная информация станет поводом для обращения в ГК «Блок» и положит начало для обоюдного знакомства и последующего развития как в профессиональном, так и в финансовом плане.
    </div>
    <div class="flex mt-8">
      <a href="javascript:;" class="btn btn-primary btn-fill">
        <span class="font-alt font-semibold ">Смотреть вакансии</span>
      </a>
    </div>
  </div>
</section>

<%= require('./html-includes/consultation.html')() %>
<%= require('./html-includes/footer.html')() %>