@import 'functions';

:root {
  // theme colors
  --primary-rgb : #{cl(#1B4B9B)};
  --sec-rgb     : #{cl(#CE9B44)};
  --blue-rgb    : #{cl(#2173E5)};
  --red-rgb     : #{cl(#c0392b)};
  --green-rgb   : #{cl(#00C838)};
  --yellow-rgb  : #{cl(#FECB29)};

  // colors
  --bg1-rgb     : #{cl(#ededed)};
  --bg2-rgb     : #{cl(#EFF1F5)};
  --bg3-rgb     : #{cl(#fff)};
  --default-rgb : #{cl(#252525)};
  --white-rgb   : #{cl(#fff)};
  --black-rgb   : #{cl(#000)};

  // variables
  --bg1    : rgb(var(--bg1-rgb));
  --bg2    : rgb(var(--bg2-rgb));
  --bg3    : rgb(var(--bg3-rgb));
  --default: rgb(var(--default-rgb));

}

body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : theme('colors.l3');
  font-family   : theme('fontFamily.base');
  color         : theme('colors.default');

  &.menu-opened {
    overflow: hidden;
  }
}

[data-theme="dark"] {
  --bg1-rgb     : #{cl(#181818)};
  --bg2-rgb     : #{cl(#282828)};
  --bg3-rgb     : #{cl(#323232)};
  --default-rgb : #{cl(#fff)};

}

@media (hover) {
  // temp

  .btn-white:hover,
  .btn-white:is(.btn-group:hover .btn),
  .btn-white:is(.btn-peer:hover~.btn) {
    --tw-btn-color: #fff;
  }
}

@layer components {
  .active-enabled:not(:is(:is(.toggle-active, .tab-active, .active) .active-enabled)) {
    display: none !important;
  }

  .active-disabled:is(:is(.toggle-active, .tab-active, .active) .active-disabled) {
    display: none !important;
  }

  .is-active-disabled:is(.toggle-active, .active) {
    display: none;
  }

  .is-active-enabled:not(:is(.toggle-active, .active)) {
    display: none;
  }

  .absolute-fit {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }

  .hover-underline {
    position: relative;

    &::before {
      content         : '';
      position        : absolute;
      top             : 100%;
      height          : 2px;
      left            : 0;
      width           : 100%;
      background      : theme('colors.primary');
      transition      : .25s ease;
      transform       : scaleX(0);
      transform-origin: left;
    }

    @media(hover) {
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }

  .input {
    border-radius: calc(var(--tw-input-size, 50px) / 5);
    background   : theme('colors.l3');
  }

  .btn {
    border-radius: calc(var(--tw-btn-size, 50px) / 5);
    cursor       : pointer;

    &-text {
      border-radius: initial;
    }
  }

  .btn-fill {
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 73.05%), var(--tw-btn-color);

    @media(hover) {
      &:hover {
        background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 73.05%), var(--tw-btn-color);
      }
    }
  }

  .title {
    font-size  : 48px;
    font-weight: 700;
    font-family: theme('fontFamily.alt');
    line-height: calc(33 / 28);

    @media (max-width: theme('screens.md')) {
      font-size: 32px;
    }

    @media (max-width: theme('screens.sm')) {
      font-size: 28px;
    }
  }

  .bg-grey {
    background:
      linear-gradient(138.69deg, theme('colors.l3 / 80%') 0%, theme('colors.l3 / 0%') 100%), theme('colors.default / 5%');
  }
}

.header-top {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  height         : 50px;
  background     : theme('colors.default / 5%');

  @media (max-width: theme('screens.lg')) {
    height: 48px;
  }
}

.header {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  padding-top    : 42px;
  padding-bottom : 28px;

  @media (max-width: theme('screens.lg')) {
    flex-direction: column;
    align-items   : stretch;
    gap           : 20px;
    padding-top   : 20px;
    padding-bottom: 4px;
  }
}

.nav {
  padding-top   : 0;
  padding-bottom: 0;

  &-slider {
    padding-bottom: 16px;
    padding-top   : 16px;
    padding-right : calc(1230px * 8 / 100);

    @media (max-width: theme('screens.sm')) {
      padding-right: 0;
    }

    &-shadow {
      position      : absolute;
      right         : 0;
      top           : 0;
      height        : 100%;
      background    : linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, theme('colors.l3') 80%);
      width         : calc(1230px * 12 / 100);
      pointer-events: none;
    }

  }
}

.started {
  height  : 608px;
  position: relative;

  @at-root :root {
    @media (max-width: theme('screens.md')) {
      --started-image-height: calc(100vw * 270 / 375);
      --started-image-start : calc(100% - var(--started-image-height));

    }
  }

  @media (max-width: theme('screens.md')) {
    height        : auto;
    padding-top   : 48px;
    padding-bottom: calc(var(--started-image-height) - 48px);
  }

  &-image {
    @media (max-width: theme('screens.md')) {
      top   : auto;
      bottom: 0;
      height: var(--started-image-height);
    }

  }

  &-shadow {
    background: linear-gradient(96.13deg, theme('colors.primary') 32.92%, rgba(0, 0, 0, 0) 59.69%);

    @media (max-width: theme('screens.md')) {
      background: linear-gradient(180deg, theme('colors.primary') var(--started-image-start), rgba(0, 0, 0, 0) 100%);

    }
  }

  &-content {
    position       : relative;
    color          : #fff;
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    justify-content: center;
    height         : 100%;

    @media (max-width: theme('screens.md')) {
      justify-content: flex-start;
    }
  }

  &-date {
    border-radius: 100px;
    display      : flex;
    align-items  : center;
    gap          : 12px;
    margin-bottom: 24px;
    background   : #fff;
    color        : theme('colors.black');
    font-weight  : 600;
    font-size    : 14px;
    padding      : 3px 12px;

    @media (max-width: theme('screens.md')) {
      margin-bottom: 16px;
    }
  }

  &-title {
    font-size     : 52px;
    font-family   : theme('fontFamily.alt');
    font-weight   : 700;
    text-transform: uppercase;
    line-height   : calc(62 / 52);

    @media (max-width: theme('screens.md')) {
      font-size: 28px;

      br {
        display: none;
      }
    }
  }

  &-description {
    margin-top: 24px;

    @media (max-width: theme('screens.md')) {
      margin-top: 16px;
      font-size : 14px;

      br {
        display: none;
      }
    }
  }

  &-btn {
    margin-top: 60px;

    @media (max-width: theme('screens.md')) {
      margin-top: 36px;
    }
  }

  &-pagination {
    --swiper-pagination-bullet-size            : 8px;
    --swiper-pagination-bullet-horizontal-gap  : 10px;
    --swiper-pagination-bullet-inactive-color  : #fff;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-color                  : #fff;

    padding-top   : var(--swiper-pagination-bullet-horizontal-gap);
    padding-bottom: var(--swiper-pagination-bullet-horizontal-gap);

    &-wrapper {
      position: absolute;
      left    : 0;
      bottom  : 48px;
      width   : 100%;
      z-index : 2;

      @media (max-width: theme('screens.md')) {
        bottom: auto;
        top   : calc(var(--started-image-start) + 48px + 36px);
      }
    }

    .swiper-pagination-bullet {
      position: relative;

      @media(hover) {
        &:hover {
          --swiper-pagination-bullet-inactive-opacity: 0.5;

        }
      }

      &::before {
        content : '';
        position: absolute;
        inset   : calc(-1 * var(--swiper-pagination-bullet-horizontal-gap));
      }
    }

    &.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
    &.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
      &::before {
        transform: scale(calc(1 / 0.66));
      }
    }

    &.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev,
    &.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
      &::before {
        transform: scale(calc(1 / 0.33));
      }
    }
  }
}

.working {
  padding-top   : 64px;
  padding-bottom: 32px;

  @media (max-width: theme('screens.sm')) {
    padding-top: 32px;
  }

  &-item {
    background    : url("../img/working-item.jpg") no-repeat center / cover, theme('colors.default / 5%');
    border-radius : 20px;
    padding       : 24px 24px 32px;
    display       : flex;
    flex-direction: column;
    gap           : 32px;

    @media (max-width: theme('screens.md')) {
      flex-direction: row;
      align-items   : center;
    }

    @media (max-width: theme('screens.sm')) {
      gap    : 16px;
      padding: 24px 16px;
    }

    &-image {
      width        : 86px;
      height       : 86px;
      border-radius: 14px;
      position     : relative;
      background   :
        radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 73.05%), theme('colors.primary');
      box-shadow: 0 10px 30px 0 theme('colors.primary / 40%');

      display        : flex;
      align-items    : center;
      justify-content: center;
      font-size      : 36px;
      color          : #fff;
      flex-shrink    : 0;

      @media (max-width: theme('screens.sm')) {
        width : 64px;
        height: 64px;
      }

      &::before {
        content      : '';
        position     : absolute;
        inset        : 0;
        border       : 2px solid #5579B4;
        border-radius: inherit;

        mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
      }
    }
  }
}

.category {
  padding-top   : 64px;
  padding-bottom: 72px;

  &-item {
    background    : theme('colors.l3');
    box-shadow    : 0 10px 16px 0 rgba(0, 0, 0, 0.04);
    border-radius : 20px;
    display       : flex;
    flex-direction: column;

    &-image {
      height                   : 112px;
      position                 : relative;
      overflow                 : hidden;
      border-start-start-radius: inherit;
      border-start-end-radius  : inherit;

      @media (max-width: theme('screens.sm')) {
        height: 74px;
      }
    }

    &-content {
      padding       : 24px;
      display       : flex;
      flex-direction: column;
      align-items   : flex-start;
      flex-grow     : 1;

      @media (max-width: theme('screens.sm')) {
        padding: 16px;
      }
    }
  }
}

.location {
  padding-top   : 58px;
  padding-bottom: 80px;
  background    : theme('colors.primary');
  color         : #fff;
  overflow      : hidden;
  position      : relative;

  @media (max-width: theme('screens.sm')) {
    padding-top   : 32px;
    padding-bottom: 40px;
  }

  &-image {
    position: absolute;
    top     : 0;
    width   : 1600px;
    left    : calc(50% - 672px);

    @media (max-width: theme('screens.md')) {
      width : 100%;
      left  : 0;
      bottom: 24px;
      top   : auto;
    }

    img {
      @media (max-width: theme('screens.md')) {
        width: 100%;
      }
    }
  }

  &-content {
    position: relative;
  }
}

.about {
  display       : flex;
  align-items   : center;
  gap           : 54px;
  padding-top   : 80px;
  padding-bottom: 80px;

  @media (max-width: theme('screens.lg')) {
    flex-wrap: wrap;
    gap      : 24px;
  }

  @media (max-width: theme('screens.md')) {
    padding-top   : 16px;
    padding-bottom: 32px;
  }

  &-image {
    width        : 420px;
    max-width    : 100%;
    flex-shrink  : 0;
    border-radius: 20px;
    overflow     : hidden;
  }

  &-content {
    @media (max-width: theme('screens.lg')) and (min-width: theme('screens.md')) {
      order: 10;
    }

  }

  &-aside {
    border       : 0.5px solid rgba(0, 0, 0, 0.039);
    box-shadow   : 0 3px 1px 0 rgba(0, 0, 0, 0.039), 0 3px 8px 0 rgba(0, 0, 0, 0.059);
    width        : 285px;
    flex-shrink  : 0;
    border-radius: 20px;
    padding      : 24px;

    @media (max-width: theme('screens.md')) {
      width: 100%;
    }

    &-image {
      background:
        linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), theme('colors.primary / 15%');
      border-radius: 10px;
      flex-shrink  : 0;

    }
  }
}

.consultation {
  background    : url("../img/consultation-bg.jpg") no-repeat center / cover, theme('colors.default / 2%');
  padding-top   : 80px;
  padding-bottom: 80px;
  min-height    : 512px;

  @media (max-width: theme('screens.sm')) {
    background    : url("../img/consultation-bg-sm.jpg") no-repeat center / cover, theme('colors.default / 2%');
    padding-top   : 32px;
    padding-bottom: 272px;
  }
}

.cost {
  background    : url("../img/cost-bg.jpg") no-repeat center / cover, theme('colors.default / 2%');
  padding-top   : 80px;
  padding-bottom: 80px;
  min-height    : 512px;

  @media (max-width: theme('screens.sm')) {
    background    : url("../img/cost-bg-sm.jpg") no-repeat bottom / auto, #E6EBF2;
    padding-top   : 32px;
    padding-bottom: 348px;
  }
}

.footer {
  padding-top   : 50px;
  padding-bottom: 76px;
  background    : url("../img/footer-texture.png") no-repeat center / cover,
    linear-gradient(275.58deg, rgba(32, 78, 157, 0) 50.4%, rgba(32, 78, 157, 0.8) 100%), #12284D;
  color: #fff;

  @media (max-width: theme('screens.md')) {
    background:
      linear-gradient(275.58deg, rgba(32, 78, 157, 0) 50.4%, rgba(32, 78, 157, 0.8) 100%), #12284D;
    padding-bottom: 32px;
    padding-top   : 32px;
  }

  &-addresses {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap                  : 48px;


  }
}

.menu {
  position      : fixed;
  left          : 0;
  top           : 0;
  height        : 100%;
  width         : 425px;
  max-width     : 100%;
  z-index       : theme('zIndex.3');
  background    : theme('colors.l3');
  padding-left  : 16px;
  padding-right : 16px;
  display       : flex;
  flex-direction: column;
  padding-bottom: 64px;
  transition    : .25s ease;

  &:not(.toggle-active) {
    transform: translateX(-100%);
  }

  &-shadow {
    position  : fixed;
    inset     : 0;
    z-index   : calc(theme('zIndex.3') - 1);
    background: rgba(0, 0, 0, 0.5);
    transition: .25s ease;
  }

  &:not(.toggle-active)+&-shadow {
    opacity       : 0;
    pointer-events: none;
  }
}

.advantages {
  padding-top   : 50px;
  padding-bottom: 50px;

  &-item {
    background:
      linear-gradient(138.69deg, theme('colors.l3 / 80%') 0%, theme('colors.l3 / 0%') 100%), theme('colors.default / 5%');
    border-radius: 20px;
    padding      : 32px;

    &:is(.swiper-slide &) {
      height: 100%;
    }
  }

  &-slider {
    .swiper-wrapper {
      @media (min-width: theme('screens.md')) {
        display              : grid !important;
        transform            : none !important;
        width                : 100% !important;
        grid-template-columns: 1fr 1fr;
        gap                  : 30px;
      }

      .swiper-slide {
        @media (min-width: theme('screens.md')) {
          margin: 0 !important;
        }

        @media (max-width: theme('screens.md')) {
          width: calc(100% - 30px);
        }
      }
    }
  }
}

.subcat-item {
  display    : flex;
  align-items: center;
  box-shadow : 0 10px 16px 0 rgba(0, 0, 0, 0.04);
  padding    : 16px;
  gap        : 42px;

  @media (max-width: theme('screens.lg')) {
    flex-direction: column;
    align-items   : flex-start;
    gap           : 24px;
  }

  &-image {
    flex-shrink  : 0;
    width        : 296px;
    border-radius: 20px;
    overflow     : hidden;

    @media (max-width: theme('screens.sm')) {
      width: 220px;
    }
  }

  &-content {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
  }
}

.filter {
  display       : flex;
  flex-direction: column;
  width         : 200px;
  flex-shrink   : 0;

  @media (max-width: theme('screens.lg')) {
    position  : fixed;
    left      : 0;
    top       : 0;
    height    : 100%;
    width     : 425px;
    max-width : 100%;
    z-index   : theme('zIndex.3');
    background: theme('colors.l3');
    padding   : 16px;
    transition: .25s ease;

    &:not(.toggle-active) {
      transform: translateX(-100%);
    }

    &-shadow {
      position  : fixed;
      inset     : 0;
      z-index   : calc(theme('zIndex.3') - 1);
      background: rgba(0, 0, 0, 0.5);
      transition: .25s ease;
    }

    &:not(.toggle-active)+&-shadow {
      opacity       : 0;
      pointer-events: none;
    }
  }
}

.product {
  display: flex;
  gap    : 64px;

  @media (max-width: theme('screens.lg')) {
    display              : grid;
    grid-template-columns: 3fr 2fr 3fr;
    gap                  : 32px;
  }

  @media (max-width: theme('screens.md')) {
    display       : flex;
    flex-direction: column;
  }

  &-gallery {
    width      : 496px;
    flex-shrink: 0;

    @media (max-width: theme('screens.lg')) {
      width      : auto;
      grid-column: span 2;
    }
  }

  &-characteristic {
    flex-grow: 1;

    @media (max-width: theme('screens.lg')) {
      order      : 10;
      grid-column: 1/-1;
    }
  }

  &-content {
    width      : 264px;
    flex-shrink: 0;

    @media (max-width: theme('screens.lg')) {
      width: auto;
    }
  }

  &-card {
    box-shadow   : 0 10px 16px 0 rgba(0, 0, 0, 0.04);
    background   : theme('colors.l3');
    border-radius: 20px;
  }

  &-description {
    width    : 900px;
    max-width: 100%;
  }
}

.related {
  background    : theme('colors.default / 10%');
  padding-top   : 64px;
  padding-bottom: 72px;

  @media (max-width: theme('screens.sm')) {
    padding-bottom: 32px;
    padding-top   : 32px;
  }

  &-item {
    background    : theme('colors.l3');
    box-shadow    : 0 10px 16px 0 rgba(0, 0, 0, 0.04);
    padding       : 10px;
    border-radius : 20px;
    display       : flex;
    flex-direction: column;

    &-content {
      flex-grow      : 1;
      display        : flex;
      flex-direction : column;
      justify-content: center;
      text-align     : center;
      padding-top    : 15px;
      padding-bottom : 15px;
    }
  }
}

.catalog {
  display: flex;
  gap    : 48px;

  &-content {
    flex-grow: 1;
  }
}

.object-item {
  background   : theme('colors.l3');
  border-radius: 20px;
  box-shadow   : 0 10px 16px 0 rgba(0, 0, 0, 0.04);

}

.news-item {
  position      : relative;
  box-shadow    : 0 10px 16px 0 rgba(0, 0, 0, 0.04);
  border-radius : 20px;
  display       : flex;
  flex-direction: column;

  &-image {
    position                 : relative;
    border-start-start-radius: inherit;
    border-start-end-radius  : inherit;
    overflow                 : hidden;
  }

  &-content {
    padding       : 24px;
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    flex-grow     : 1;

    @media (max-width: theme('screens.sm')) {
      padding: 16px;
    }
  }
}

.news-detail {
  line-height: 1.5;

  @media (max-width: theme('screens.sm')) {
    font-size: 14px;
  }

  img {
    border-radius: 20px;
    margin-bottom: 48px;
    width        : 100%;
    display      : block;

    @media (max-width: theme('screens.sm')) {
      margin-bottom: 32px;
    }
  }

  h6,
  h5,
  h4,
  h3,
  h2,
  h1 {
    font-family   : theme('fontFamily.alt');
    font-weight   : 700;
    text-transform: uppercase;

  }

  h6 {
    font-size: 16px;
  }

  h5 {
    font-size: 17px;
  }

  h4 {
    font-size: 18px;
  }

  h3 {
    font-size: 20px;
  }

  h2 {
    font-size: 22px;
  }

  h1 {
    font-size: 24px;
  }

  ol {
    list-style  : decimal;
    padding-left: 24px;
  }

  ul {
    list-style  : disc;
    padding-left: 24px;
  }

  &>*+img,
  &>*+*:is(h1, h2, h3, h4, h5, h6) {
    margin-top: 48px;

    @media (max-width: theme('screens.sm')) {
      margin-top: 32px;

    }
  }

  &>*+ul,
  &>*+ol,
  &>*+p {
    margin-top: 32px;

    @media (max-width: theme('screens.sm')) {
      margin-top: 16px;
    }
  }

  a {
    color: theme('colors.primary');
  }
}

.about-video {
  display: block;

  &-button {
    --tw-btn-size: 112px;

    position     : absolute;
    left         : calc(50% - var(--tw-btn-size) / 2);
    top          : calc(50% - var(--tw-btn-size) / 2);
    border-radius: 50%;
    color        : #fff;
    font-size    : 36px;

    background     : radial-gradient(337% 105% at 0% 100%, rgba(255, 255, 255, 0.37) 0%, rgba(255, 255, 255, 0.145) 100%) !important;
    box-shadow     : 0 0 0 10px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);


    @media (max-width: theme('screens.sm')) {
      --tw-btn-size: 48px;

      font-size : 16px;
      box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
    }
  }
}

.page-top {
  background     : theme('colors.primary');
  color          : #fff;
  min-height     : 370px;
  padding-top    : 32px;
  padding-bottom : 32px;
  position       : relative;
  display        : flex;
  flex-direction : column;
  justify-content: center;

  @media (max-width: theme('screens.sm')) {
    justify-content: flex-start;
    padding-top    : 40px;
    min-height     : 394px;
  }

  &-shadow {
    background: linear-gradient(96.13deg, theme('colors.primary') 42.47%, rgba(0, 0, 0, 0) 69.82%);

    @media (max-width: theme('screens.sm')) {
      background: linear-gradient(180deg, theme('colors.primary') 40.1%, rgba(0, 0, 0, 0) 100%);

    }

  }

  &-content {
    position: relative;

    br {
      @media (max-width: theme('screens.sm')) {
        display: none;
      }
    }

  }

  .hover-underline::before {
    background: #fff;
  }
}

.about-jigurda {
  display      : flex;
  align-items  : center;
  gap          : 40px;
  padding      : 16px;
  border-radius: 20px;
  box-shadow   : 0 10px 16px 0 rgba(0, 0, 0, 0.04);
  background   : theme('colors.l3');

  @media (max-width: theme('screens.sm')) {
    flex-direction: column;
    gap           : 16px;
  }

  &-image {
    width        : 162px;
    height       : 162px;
    border-radius: 20px;
    flex-shrink  : 0;
    background   :
      url("../img/about-jigurda-texture.png") no-repeat center / cover,
      radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 73.05%), #05496F;
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;

    @media (max-width: theme('screens.sm')) {
      width : 100%;
      height: 130px;

    }

    &::before {
      content       : '';
      position      : absolute;
      inset         : 0;
      pointer-events: none;
      border-radius : inherit;

      border: 2px solid #5579B4;

      mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);


    }
  }
}

.about-location {
  min-height   : 370px;
  background   : theme('colors.primary / 5%');
  border-radius: 20px;
  padding      : 56px;
  display      : flex;
  align-items  : center;
  position     : relative;
  overflow     : hidden;

  @media (max-width: theme('screens.lg')) {
    min-height    : 0;
    padding       : 24px 16px;
    padding-bottom: 330px;
  }

  @media (max-width: theme('screens.xs')) {
    padding-bottom: calc(100vw * 330 / 375);
  }

  &-content {
    width    : 500px;
    max-width: 100%;
    position : relative;
  }

  &-map {
    position: absolute;
    right   : 0;
    bottom  : 0;

    @media (max-width: theme('screens.sm')) {
      width : 100%;
      bottom: auto;
      top   : calc(100% - 330px);
    }

    @media (max-width: theme('screens.xs')) {
      top   : auto;
      bottom: 0;
    }
  }

  &-lines {
    position: absolute;
    right   : 0;
    top     : 0;

    @media (max-width: theme('screens.sm')) {
      width: 100%;
    }
  }

  &-image {
    width        : 200px;
    position     : absolute;
    border-radius: 20px;
    overflow     : hidden;

    @media (max-width: theme('screens.sm')) {
      width: 148px;
    }

    &-1 {
      top : 48px;
      left: calc(50% + 48px);

      @media (max-width: theme('screens.lg')) {
        inset: auto calc(50% + 20px) 140px auto;
      }

      @media (max-width: theme('screens.sm')) {
        right: 50%;
      }
    }

    &-2 {
      bottom: 48px;
      right : 48px;

      @media (max-width: theme('screens.lg')) {
        bottom: 24px;
        right : auto;
        left  : calc(50% + 20px);
      }

      @media (max-width: theme('screens.sm')) {
        left: 50%;
      }

    }
  }
}

.history-jigurda {
  display      : flex;
  align-items  : center;
  gap          : 40px;
  padding      : 16px;
  border-radius: 20px;
  box-shadow   : 0 10px 16px 0 rgba(0, 0, 0, 0.04);
  background   :
    url("../img/started-texture.png") no-repeat center / cover,
    radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 73.05%), theme('colors.primary');
  color   : #fff;
  position: relative;

  @media (max-width: theme('screens.sm')) {
    flex-direction: column;
    gap           : 16px;
  }

  &::before {
    content       : '';
    position      : absolute;
    inset         : 0;
    pointer-events: none;
    border-radius : inherit;

    border: 2px solid #5579B4;

    mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);


  }

  &-image {
    width        : 162px;
    height       : 162px;
    border-radius: 20px;
    flex-shrink  : 0;
    background   : linear-gradient(0deg, #C2D9FF, #C2D9FF),
      linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);

    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;

    @media (max-width: theme('screens.sm')) {
      width : 100%;
      height: 130px;

    }

  }
}

.history-item {
  --gap: 72px;

  display : flex;
  position: relative;

  @media (max-width: theme('screens.lg')) {
    flex-direction: column;
    gap           : 16px;
    padding-left  : 32px;
  }

  @media (max-width: theme('screens.sm')) {
    padding-left: 24px;
  }

  &+& {
    margin-top: var(--gap);
  }

  &-number {
    font-size  : 64px;
    line-height: 1;
    font-family: theme('fontFamily.alt');
    font-weight: 700;
    width      : 260px;
    flex-shrink: 0;
    color      : theme('colors.primary');

    @media (max-width: theme('screens.lg')) {
      width: 100%;
    }

    @media (max-width: theme('screens.sm')) {
      font-size: 32px;
    }
  }

  &-content {
    @media (max-width: theme('screens.sm')) {
      font-size: 14px;
    }

    p {
      opacity: 80;
    }

    h2 {
      font-size  : 20px;
      font-family: theme('fontFamily.alt');
      display    : block;
      font-weight: 600;

      @media (max-width: theme('screens.sm')) {
        font-size: 16px;
      }
    }

    &>*+h2 {
      margin-top: 24px;
    }
  }

  &-divider {
    background   : linear-gradient(180deg, rgba(214, 229, 255, 0.2) 0%, #D6E5FF 100%);
    width        : 2px;
    flex-shrink  : 0;
    margin-right : 64px;
    margin-top   : 30px;
    margin-bottom: calc(-1 * var(--gap) - 30px);
    position     : relative;

    @media (max-width: theme('screens.lg')) {
      margin  : 0;
      position: absolute;
      left    : 0;
      top     : 25px;
      height  : calc(100% + var(--gap));
    }

    @media (max-width: theme('screens.sm')) {
      top: 9px;
    }
  }

  &:last-of-type &-divider {
    background: none;
  }

  &-dot {
    --size: 14px;

    width        : var(--size);
    height       : var(--size);
    position     : absolute;
    top          : 0;
    left         : calc(50% - var(--size) / 2);
    border-radius: 50%;
    background   :
      radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 73.05%), theme('colors.primary');
    box-shadow: 0 0 0 5px theme('colors.primary / 15%'), 0 0 0 11px theme('colors.primary / 8%');

    @media (max-width: theme('screens.sm')) {
      --size: 9px;

      box-shadow: 0 0 0 3px theme('colors.primary / 15%'), 0 0 0 7px theme('colors.primary / 8%');
    }
  }
}

.history-meaningless {
  &-gal-ochka {
    background:
      radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 73.05%), theme('colors.primary');
    border-radius: 10px;
    flex-shrink  : 0;
  }

  &-1 {
    padding       : 40px;
    padding-bottom: 240px;
    overflow      : hidden;
    position      : relative;

    @media (max-width: theme('screens.sm')) {
      padding: 24px 16px 220px;
    }
  }

  &-2 {
    padding: 32px;
    background:
      radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 73.05%), #C3D1E8;
    border-radius  : 20px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    overflow       : hidden;
    position       : relative;

    @media (max-width: theme('screens.sm')) {
      padding: 24px 16px;
    }
  }

  &-3 {
    display        : flex;
    flex-direction : column;
    justify-content: center;

    @media (max-width: theme('screens.sm')) {
      padding: 24px 16px;
    }

  }
}

.pray {
  background    : theme('colors.primary');
  color         : #fff;
  padding-top   : 36px;
  padding-bottom: 36px;
  display       : flex;
  align-items   : center;
  gap           : 64px;

  @media (max-width: theme('screens.lg')) {
    flex-direction: column;
    gap           : 40px;
  }

  @media (max-width: theme('screens.sm')) {
    padding-top   : 24px;
    padding-bottom: 24px;
  }

  &-form {
    width        : 390px;
    flex-shrink  : 0;
    padding      : 32px 24px;
    border       : 2px solid theme('colors.l3 / 50%');
    background   : linear-gradient(152.1deg, theme('colors.l3') 0%, theme('colors.l3 / 70%')100%);
    border-radius: 20px;
    color        : theme('colors.default');

    @media (max-width: theme('screens.lg')) {
      width    : 500px;
      max-width: 100%;
    }

    @media (max-width: theme('screens.sm')) {
      padding: 32px 16px;
    }
  }
}